<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Sudoku</title>
    <link rel="stylesheet" th:href="@{/styles/play.css}">
</head>
<body>
<div>
    Header
</div>
<div>
</div>
<a th:href="@{/}">Back</a>

<div class="sudoku-table">
    <div class="sudoku-row" th:each="i : ${#numbers.sequence(1,9)}"><!--this comment removes whitespace
    --><div class="sudoku-cell" th:with="element=${sudoku.getElement(i,j)}" th:each="j : ${#numbers.sequence(1,9)}">
        <p th:text="${element != null ? element: ''}" ></p>
        <input type="hidden" name="number[]" th:value="${element != null ? element: ''}"/>
        </div>
    </div>
</div>
</body>
</html>