body {
    background-color: dimgrey;
    color: lightcoral;
}

.sudoku-row {
    display: inline;
}

.sudoku-cell {
    background-color: lightgrey;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.sudoku-cell:hover {
    background-color: azure;
}

.sudoku-cell > p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
}