body {
    background-color: dimgrey;
    color: lightcoral;
}

.sudoku-row {
    display: inline;
}

.sudoku-cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.sudoku-cell:not(.selected-sudoku-cell) {
    background-color: #ffffff;
}

.sudoku-cell:not(.selected-sudoku-cell):hover {
    background-color: #ddddff;
}

.sudoku-cell.selected-sudoku-cell {
    background-color: #aaaaff;
}

.sudoku-cell > p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
}

