* {
    margin: 0;
    padding: 0;
}

body {
    background-color: dimgrey;
    color: lightcoral;
}

.sudoku-table {
    display: block;
}

.sudoku-row {
    height: 50px;
    display: block;
}

.sudoku-cell {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.sudoku-row > .sudoku-cell:nth-of-type(3), .sudoku-row > .sudoku-cell:nth-of-type(6) {
    border-right: 2px solid red;
}

.sudoku-table > .sudoku-row:nth-of-type(4) > .sudoku-cell, .sudoku-table > .sudoku-row:nth-of-type(7) > .sudoku-cell {
    border-top: 2px solid red;
}

.sudoku-cell:not(.selected-sudoku-cell) {
    background-color: #ffffff;
}

.sudoku-cell:not(.selected-sudoku-cell):hover {
    background-color: #ddddff;
}

.sudoku-cell.selected-sudoku-cell {
    background-color: #aaaaff;
}

.sudoku-cell > p {
    line-height: 50px;
    overflow: hidden;
    height: 100%;
    text-align: center;
    font-size: 30px;
    vertical-align: middle;
}

#digit-selection {
    display: block;
}

.digit-selection-cell {
    background-color: #ffffff;
    display: inline-block;
    width: 60px;
    height: 60px;
}

.digit-selection-cell:hover {
    background-color: #ddddff;
}

